config MT7668
	tristate "MediaTek MT7668 support"
	depends on MAC80211
	select CFG80211_WEXT
	select WEXT_CORE
	---help---
	  This adds support for MT7668-based wireless module.

config MTK_COMBO_WIFI_HIF
	depends on MT7668
	string "MediaTek combo WiFi HIF"
	default "usb"
